:root {
  --very-dark-blue: hsl(216, 12%, 8%);
  --dark-blue: hsl(213, 19%, 18%);
  --medium-grey: hsl(216, 12%, 54%);
  --light-grey: hsl(217, 12%, 63%);
  --white: hsl(0, 0%, 100%);
  --orange: hsl(25, 97%, 53%);
}

* {
  font-family: 'Overpass', sans-serif;
  margin: 0;
  padding: 0;
  border: none;
  /* outline: 1px solid lightgreen; */
}

input[type=radio] {
  appearance: none;
}

.radio-btn label {
  pointer-events: none;
}

/******** Layout **********/
.container {
  height: 100vh;
}

.card {
  border-radius: 15px;
  padding: 1.953em;
  width: 75%;
  max-width: 400px;
}

.star {
  width: 1.25em;
  border-radius: 50%;
  padding: 1em;
  margin-bottom: 1.953em;
}

.card-heading {
  margin: 0.482em 0;
}

.radio-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.radio-btn {
  height: 3.583em;
  width: 3.583em;
  border-radius: 50%;
  cursor: pointer;
}

.btn {
  border-radius: 2.441em;
  padding: 1em 0 0.8em;
  width: 100%;
  cursor: pointer;
  margin: 1em 0 0;
}

.rate-output {
  padding: 0.512em 1em;
  border-radius: 1.953em;
}

/******** Type **********/
body {
  font-size: 15px;
}

.card-heading {
  font-size: 2.074em;
}

.card-body {
  line-height: 1.6;
}

.btn {
  font-size: 1.2em;
}


/******** Color **********/
.container {
  background-color: var(--very-dark-blue);
}

.card {
  background-color: var(--dark-blue);
}

.card-heading {
  color: var(--white);
}

.card-body {
  color: var(--light-grey);
}

.radio-btn {
  color: var(--light-grey);
  background-color: hsl(216, 12%, 22%);
}

.radio-btn:hover {
  background-color: var(--light-grey);
  color: var(--white);
}

.btn {
  background-color: var(--orange);
  color: var(--white);
}

.btn:hover {
  color: var(--orange);
  background-color: var(--white);
}

.selected {
  background-color: var(--orange);
  color: var(--white);
}

.rate-output {
  color: var(--orange);
}

/* Utility Classes */

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my-1 {
  margin: 1em 0;
}

.light-bg {
  background-color: hsl(216, 12%, 22%);
}

.text-center {
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
}